{% extends "layout/_base.html" %}
{% load markdown %}
{% load static %}
{% block title %}
  {{ article.title}}
{% endblock %}
{% block content %}
<div class="py-3 bg-body-tertiary rounded-3">
  <div class="container-md px-4">
    <div class="row align-items-md-stretch">
      {% if article.image.url is not None %}
        <div class="col-sm-4 align-content-center align-items-middle pb-3">
          <div class="rounded-3 mx-auto" id="thumbnail">
            <img src="{{ article.image.url }}" class="img-fluid" alt="{{ article.alt_text }}">
          </div>
        </div>
        <div class="col-sm-8 pb-3">
          <div class="pb-2">
            <h1>{{ article.title|title }}</h1>
            <p>
              <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'blog:article' article.slug %}">
                {{ article.date_formatted|upper }}
              </a>
            <br>
              {% if article.tags.all|length > 0 %}
                {% for tag in article.tags.all %}
                  <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'blog:tag' tag.slug %}">
                    {{ tag.name|upper }}
                  </a>
                  {% if article.tags.all|length > 1 %}
                    &nbsp;|&nbsp;
                  {% endif %}
                {% endfor %}
                <br>
              {% endif %}
            </p>
          </div>
        </div>
      {% else %}
        <div class="col-sm-8 pb-3">
          <div class="pb-2">
            <h1>{{ article.title|title }}</h1>
            <p>
              <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'blog:article' article.slug %}">
                {{ article.date_formatted|upper }}
              </a>
            <br>
              {% if article.tags.all|length > 0 %}
                {% for tag in article.tags.all %}
                  <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'blog:tag' tag.slug %}">
                    {{ tag.name|upper }}
                  </a>
                  {% if article.tags.all|length > 1 %}
                    &nbsp;|&nbsp;
                  {% endif %}
                {% endfor %}
                <br>
              {% endif %}
            </p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="container-md px-4 py-3">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="text-body-light fs-5">
          <p>{{ article.body|convert_markdown|safe }}</p>
        </div>
      </div>
      <div class="col" id="allergy-plot">
        {% if div is not None %}
          {{ div|safe }}
        {% endif %}
      </div>
    </div>
</div>
  {% if script is not None %}
      {{ script|safe }}
  {% endif %}
  {% endblock %}