<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load compress %}

    {% compress css %}
      <link type="text/x-scss" href="/static/layout/scss/bootstrap.scss" rel="stylesheet">
      <link type="text/x-scss" href="/static/layout/scss/base.scss" rel="stylesheet">
    {% endcompress %}

    {% compress js %}
      <script src="/static/layout/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/static/layout/js/base.js"></script>
    {% endcompress %}

    <!-- Extra scripts for child templates -->
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    <title>
      {% block title %}{% endblock %}
    </title>

  </head>

  <body>
  <header class="navbar sticky-top bg-body-tertiary navbar-expand-lg bd-navbar p-0" id="navbar">
    <nav class="container-xxl p-0">
      <a href="/" class="navbar-brand align-self-center ps-3">
        <img class="bi me-2 bd-image" src="{% static 'layout/images/home-icon-dark.svg' %}" alt="Home" height="30"/>
        <span class="visually-hidden">Home</span>
      </a>
      <div class="vr theme-divider text-white"></div>
      <button class="navbar-toggler order-2 ms-auto px-3"  id="navbartoggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsednavbar" aria-controls="collapseNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="regularnavbar", class="navbar-collapse", tabindex="-1", data-bs-scroll="true">
        <ul class="navbar-nav me-auto order-0 flex">
          <li class="nav-item nav-page" id="blog">
            <a class="nav-link nav-link-page" href="/blog/">Blog</a>
          </li>
          <li class="nav-item nav-page" id="career">
            <a class="nav-link nav-link-page" href="/career/">My Work</a>
          </li>
          <li class="nav-item nav-page" id="aboutme">
            <a class="nav-link nav-link-page" href="/aboutme/">About Me</a>
          </li>
          <li class="nav-item nav-page" id="contactme">
            <a class="nav-link nav-link-page" href="/contactme/">Contact Me</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto order-2">
          {% comment %} <form class="navbar-form order-0 px-3" id="search" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
          </form> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link nav-img-fluid" href="https://www.linkedin.com/in/andrewscherer97/">
              <img class="bd-image" src="{% static 'layout/images/linked-in-dark.png' %}" alt="LinkedIn"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-img-fluid" href="https://github.com/andrew-s28">
              <img class="bd-image" src="{% static 'layout/images/github-mark-dark.svg' %}" alt="GitHub"/>
            </a>
          </li>
          <li class="nav-item">
            <div class="vr theme-divider h-100 mx-lg-2 text-white"></div>
          </li>
          <li class="nav-item">
            <div class="dropdown theme-switcher"> 
              <button class="btn btn-link nav-link dropdown-toggle h-100 bd-theme" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (current theme: auto)">
                <img class="bi my-1 theme-icon-active bd-image-theme" src="{% static 'layout/images/moon-stars-fill-dark.svg' %}" alt="Toggle theme" height="18"/>
                <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text" style="">
                <li>
                  <button type="button" class="dropdown-item d-flex align-self-left align-items-center" data-bs-theme-value="light" aria-pressed="false">
                    <img class="bi me-2 bd-image-theme-dropdown" src="{% static 'layout/images/sun-fill-dark.svg' %}" alt="Light Mode" height="18"/>
                    Light
                  </button>
                </li>
                <li>
                  <button type="button" class="dropdown-item d-flex align-items-left align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                    <img class="bi me-2 bd-image-theme-dropdown" src="{% static 'layout/images/moon-stars-fill-dark.svg' %}" alt="Dark Mode" height="18"/>
                    Dark
                  </button>
                </li>
                <li>
                  <button type="button" class="dropdown-item d-flex align-items-left align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                    <img class="bi me-2 bd-image-theme-dropdown" src="{% static 'layout/images/circle-half-dark.svg' %}" alt="Auto Light/Dark Mode" height="18"/>
                    Auto
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div id="collapsednavbar", class="navbar-collapse collapse bg-body-tertiary w-100 order-4", tabindex="-1", data-bs-scroll="true">
        <ul class="navbar-nav me-auto order-0 flex-column">
          <li class="nav-item d-flex h-100 align-self-stretch nav-page flex-column" id="blog">
            <a class="nav-link align-self-stretch py-3" href="/blog/">Blog</a>
          </li>
          <li class="nav-item d-flex h-100 nav-page flex-column" id="career">
            <a class="nav-link align-self-stretch py-3" href="/career/">My Work</a>
          </li>
          <li class="nav-item d-flex h-100 nav-page flex-column" id="aboutme">
            <a class="nav-link align-self-stretch py-3" href="/aboutme/">About Me</a>
          </li>
          <li class="nav-item d-flex h-100 align-self-stretch nav-page flex-column" id="contactme">
            <a class="nav-link align-self-stretch py-3 align-text-center" href="/contactme/">Contact Me</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto order-2 d-flex h-100 flex-row justify-content-center">
          <li class="nav-item d-flex h-100 p-3">
            <a class="nav-link" href="https://www.linkedin.com/in/andrewscherer97/">
              <img class="bd-image" src="{% static 'layout/images/linked-in-dark.png' %}" alt="LinkedIn" height="32"/>
            </a>
          </li>
          <li class="nav-item d-flex h-100 p-3">
            <a class="nav-link" href="https://github.com/andrew-s28">
              <img class="bd-image" src="{% static 'layout/images/github-mark-dark.svg' %}" alt="GitHub" height="32"/>
            </a>
          </li>
        </ul>
        {% comment %} <form class="navbar-form order-1 pb-3 px-5" id="search" role="search">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
          </div>
        </form> {% endcomment %}
      </div>
      <ul class="navbar-nav px-3 order-3" id="collapsednavbartheme">
        <li class="nav-item">
          <div class="dropdown theme-switcher"> 
            <button class="btn btn-link nav-link dropdown-toggle h-100 bd-theme" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
              <img class="bi my-1 theme-icon-active bd-image-theme" src="{% static 'layout/images/moon-stars-fill-dark.svg' %}" alt="Dark Mode" height="18"/>
              <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text" style="">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-left align-items-center" data-bs-theme-value="light" aria-pressed="false">
                  <img id="bd-image" class="bi me-2 bd-image-theme-dropdown" src="{% static 'layout/images/sun-fill-dark.svg' %}" alt="Light Mode" height="18"/>
                  Light
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-left align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                  <img id="bd-image" class="bi me-2 bd-image-theme-dropdown" src="{% static 'layout/images/moon-stars-fill-dark.svg' %}" alt="Dark Mode" height="18"/>
                  Dark
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-left align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                  <img id="bd-image" class="bi me-2 bd-image-theme-dropdown" src="{% static 'layout/images/circle-half-dark.svg' %}" alt="Auto Light/Dark Mode" height="18"/>
                  Auto
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="justify-content-center" id="content">
    {% block content %}{% endblock %}
  </div>
  <footer class="py-3 mt-4 text-body-secondary border-top text-center">
    © 2024 Andrew Scherer. The usual disclaimer that the views expressed here are my own and not those of my employer.
  </footer>
  </body>
</html>
