{% extends "layout/_base.html" %}
{% block content %}
<div class="container-fluid bg-body-tertiary banner-img">
  <div class="col-12 p-5 mb-4 text-center">
      {% comment %} <h1 class="display-5 fw-bold text-dark">{{ homepage.welcome_message }}</h1> {% endcomment %}
      {% comment %} <h1 class="fs-4 text-dark">{{ homepage.description }}</h1> {% endcomment %}
  </div>
</div>
<div class="container-xl px-3">
  <div class="row">
      <div class="col-md-6 col-xl-3 p-3 nav-box">
        <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/blog/">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2 class="text-center">Blog</h2>
            {% comment %} <p>A collection of personal and professional thoughts, projects, and opinions, some of which might be good</p> {% endcomment %}
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3 p-3 nav-box">
        <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/research/">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2 class="text-center">My Work</h2>
            {% comment %} <p>Details on my research, publications, and CV</p> {% endcomment %}
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3 p-3 nav-box">
        <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/aboutme/">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2 class="text-center">About Me</h2>
            {% comment %} <p>Info on who I am and what I care about</p> {% endcomment %}
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3 p-3 nav-box">
        <a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/contactme/">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2 class="text-center">Contact Me</h2>
            {% comment %} <p>Filler, for now.</p> {% endcomment %}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>  
{% endblock %}